<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div id="form"></div>
	<div id="button">
	<button onclick="submit()">提交</button>
	</div>
</body>
<script type="text/template" id="tpl">
<% _.each(datas, function (item) { %>
  <div class="scores">
		<h3><%= item.title %></h3>
		<div class="choose">
			<div class="input">
				<input type="radio" name="<%= item.title %>" id="1"/><label for="1">1分</label>
			</div>
			<div class="input">
				<input type="radio" name="<%= item.title %>" id="2"/><label for="2">2分</label>
			</div>
			<div class="input">
				<input type="radio" name="<%= item.title %>" id="3"/><label for="3">3分</label>
			</div>
			<div class="input">
				<input type="radio" name="<%= item.title %>" id="4"/><label for="4">4分</label>
			</div>
			<div class="input">
				<input type="radio" name="<%= item.title %>" id="5"/><label for="5">5分</label>
			</div>
		</div>
	</div>
<% }); %>
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://www.css88.com/doc/underscore/underscore-min.js"></script>
<script type="text/javascript" charset="UTF-8">
var datas = [
  {
    title: '调查问题1',
    name: '1'
  },
  {
    title: '调查问题2',
    name: '2'
  },
  {
    title: '调查问题3',
    name: '3'
  },
  {
    title: '调查问题4',
    name: '4'
  },
  {
    title: '调查问题5',
    name: '5'
  }
];

$("#form").html( _.template($('#tpl').html(), datas) );
function submit(){
	var sum=0;
	$('input:radio:checked').each(function(i,val){
		sum = sum + parseInt(val.id);
	});
	alert("总分是: "+sum);
}

</script>